<div class="container">
    <div class="img-container">

    </div>

    <div class="form-container">
        <form >
            <div class="container-inputs">
                <label>User</label>
                <input type="text">
                <label>Password</label>
                <input type="password">
            </div>
            <div class="container-buttons">
                <button mat-raised-button color="accent">Login</button>
                <button mat-flat-button color="primary" [routerLink]="['/register']">Create user</button>
            </div>
        </form>
    </div>
</div>