<div class="container-user-detail">
    <div class="container-type">
        <span>Select of pet type</span>
        <select>
            <option>Perro</option>
            <option>Gato</option>
        </select>
    </div>
    <div class="container-gender">
        <span>Select gender</span>
        <select>
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>
    <div class="container-race">
        <span>Select race</span>
        <select>
            <option>Race 1</option>
            <option>Race 2</option>
        </select>
    </div>
    <div class="container-load-pic">
        <span>Load a pic</span>
        <input type="file" accept=".jpg, .jpeg, .png">
    </div>
    

</div>
