<div class="container-user-detail">
    <span class="title">Bienvenido user name</span>
    <div class="container-welcome">
        
        <div class="img-welcome">
            <img [src]="defaultPic" alt="">
        </div>

        <div class="selects-label container-load-pic">
            <button class="button-white" (click)="openFileDialog()">Cambiar imagen</button>
            <input type="file" #fileInput style="display:none;" (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png">
        </div>
    </div>

    <div class="container-selects">
        <div class="selects-label container-type">
            <span class="subtitle">Select of pet type</span>
            <app-select-custom [options]="PetTypesSelect" (selected)="onPetTypeChange($event)" class="select-pet-type"></app-select-custom>

        </div>
        <div class="selects-label container-gender">

            <span class="subtitle">Select gender</span>
            <app-select-custom [options]="GendersSelect" (selected)="onGenderChange($event)" class="select-gender"></app-select-custom>
        
        </div>
        <div class="selects-label container-race">

            <span class="subtitle">Select races</span>
            <app-select-custom [options]="RacesSelect" (selected)="onRaceChange($event)" class="select-race"></app-select-custom>
        </div>
        
    </div>

    <div class="container-button">
        <button class="button-blue">Terminar registro</button>
    </div>
    
</div>
